<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="StartupFolders" type="TestConfigSettings.StartupFoldersConfigSection, TestConfigSettings"/>
  </configSections>
  <StartupFolders>
    <Folders>
      <add folderType="A" path="A:\fooA" />
      <add folderType="B" path="B:\fooB" />
      <add folderType="C" path="C:\fooC" />
    </Folders>
  </StartupFolders>
</configuration>